.task_list_component {
    .task_groupings {
        max-height: 400px;
        overflow-y: scroll;
        .task_group {
            .task_group_title {
                margin: 15px 20px 15px 0px;
            }
            .task_group_content {
                margin-left: 10px;
            }
        }
    }
}
