.task_list_component {
    max-height: 400px;
    overflow-y: scroll;
    .task_group {
        .task_group_title {
            margin: 15px 20px 15px 0px;
        }
        .task_group_content {
            margin-left: 10px;
            .task_tile {
                height: 30px;
                color: $dark-grey;
                border: 1px solid $light-grey;
                margin-bottom: 5px;
                border-radius: 2px;
                padding: 5px 15px 5px 15px;
                cursor: pointer;
            }
            .task_title,
            .task_attributes {
                height: 100%;
                display: inline;
                position: relative;
            }
            .task_title {
                width: 70%;
                float: left;
            }
            .task_attributes {
                .task_attribute {
                    float: right;
                }
                width: 30%;
                float: right;
            }
        }
    }
}
