<div class="task_detail_component">
    <label>Task name</label>
    <input class="form-control" type="" name="" ng-model="task.title">
    <br>
    <label>Task description</label>
    <textarea class="form-control" rows="5" ng-model="task.description"></textarea>
    <br>
    <label>Attribute</label>
    <select class="form-control">
        <option ng-repeat="attribute in attributes">{{attribute.title}} ({{attribute.id}})</option>
    </select>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label>Due date</label>
            <input ng-model="task.date" type="date" class="form-control"></input>
        </div>
        <div class="col-md-6">
            <input type="checkbox" aria-label="..." ng-model="task.urgent">
            <label>Important?</label>
            <br>
            <input type="checkbox" aria-label="..." ng-model="task.important">
            <label>Urgent?</label>
        </div>
    </div>
</div>
