<label>
    Core description</label>
<textarea class="form-control" rows="3"></textarea>
<br>
<h4>
    <i class="fa fa-tachometer" aria-hidden="true"></i>
    Stats
</h4>
<p><strong>Tasks closed</strong>: 4</p>
<p><strong>Tasks open</strong>: 3</p>
<p><strong>Tasks closed in the last week</strong>: 2</p>
<br>
<h4>
    <i class="fa fa-wrench" aria-hidden="true"></i>
    Attributes (3)
 </h4>
<div ng-repeat="rand in ['1', '2', '3']">
    <fv-attributes-tile></fv-attributes-tile>
    <fv-attribute-detail></fv-attribute-detail>
</div>
