<label>What are you grateful for?</label>
<textarea class="form-control" rows="3"></textarea>
<br>
<label>What achievement are you proud of?</label>
<textarea class="form-control" rows="3"></textarea>
<br>
<label>What are your current dreams?</label>
<textarea class="form-control" rows="3"></textarea>
<br>
<label>What has annoyed you today?</label>
<textarea class="form-control" rows="3"></textarea>
<br>
<button class="btn btn-default">Give me some more questions!</button>
<button class="btn btn-success">
    <i class="fa fa-check"></i> Finish check in
</button>
