/* 
    To compile sass: 

        sass --watch styles/main.scss:styles/main.css

*/

$light-grey: #e9e9e9;
$medium-grey: #c6c6c6;
$dark-grey: #828282;
$shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);

$main-color: #455A64;
$accent-color: #FF8A65;

$background-color: #f6f6f6;

.accent-color { 
    color: $accent-color;
}

.bold-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.3em;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: $background-color;
}

// CORE
@import 'animate.scss';

// MAIN COMPONENTS
@import '../components/widget/widget.scss';
@import '../components/top_banner/top_banner.scss';
@import '../components/task_list/task_list.scss';
@import '../components/focus_area/focus_area.scss';